@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pg5dt0');
  src:  url('../fonts/icomoon.eot?pg5dt0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pg5dt0') format('truetype'),
    url('../fonts/icomoon.woff?pg5dt0') format('woff'),
    url('../fonts/icomoon.svg?pg5dt0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-evil2:before {
  content: "\e9f0";
}